<div class="container">
    <div class="row">

        <div class="col-sm d-flex justify-content-center">
            <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;">

                <br>
                <h3 class="card-title">Workhard Mode</h3>

                <img class="card-img-top" src={{}} alt="photo">
                <div class="card-body">
                    <div class="card-text">

                        <div class="input-group">
                            <input type="text" aria-label="blocking" class="form-control">
                            <input type="text" aria-label="blocking" class="form-control">
                        </div>

                        <br>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" *ngFor="let promotion of promotions">
                                {{promotion}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
