@import '../../../../variables';

.navigation-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 250px;
  overflow: hidden;
  background-color: #eeeeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.16);
  transition: width 0.4s;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 50px;
      width: 250px;
      color: #000;

      &:hover {
        background-color: #e0e0e0;
        text-decoration: none;
      }
      > * {
        margin: auto 0;
      }
      svg {
        margin-left: 20px;
        margin-right: 20px;
        vertical-align: middle;
        width: 25px;
      }
    }

    &.active a {
      background-color: var(--primary-color);
      text-decoration: none;
      color: var(--tertiary-color);
      svg {
        fill: var(--tertiary-color);
      }
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
  .width-change {
    text-align: right;
    margin-right: 4px;

    button {
      border: 0;
      background: 0;
      padding: 0;

      svg {
        width: 25px;
        height: 25px;
        fill: var(--secondary-color);
        opacity: 0.3;
        transition: all 0.5s;
      }
    }
  }

  .close {
    text-align: center;
    margin-right: 0;
    padding-bottom: 5px;

    svg {
      transform: rotate(-180deg);
      transition: all 0.5s;
    }
  }

  button:focus {outline:0;}
}
