@import '../../../../variables';

.navigation-wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  padding: 0;
  height: 100vh;
  background-color: #eeeeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.16);

  li {
    list-style-type: none;
    margin: 0;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 50px;
      width: 250px;
      color: #000;

      &:hover {
        background-color: #e0e0e0;
        text-decoration: none;
      }
      > * {
        margin: auto 0;
      }
      svg {
        margin-left: 20px;
        margin-right: 20px;
        vertical-align: middle;
        width: 25px;
      }
    }

    &.active a {
      background-color: var(--primary-color);
      text-decoration: none;
      color: var(--tertiary-color);
      svg {
        fill: var(--tertiary-color);
      }
        &:hover {
          background-color: var(--primary-color);
        }
    }
  }
}
