<!--<app-easyshit></app-easyshit>-->

<div class="container">
    <div class="row">

        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src={{randomStudentTwo}} alt="photo">
                <div class="card-body">
                    <h5 class="card-title">Qui est cet étudiant ?</h5>
                    <div class="card-text">

                        Workhard

                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm">

        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src={{randomStudentOne}} alt="photo">
                <div class="card-body">
                    <h5 class="card-title">Qui est cet étudiant ?</h5>
                    <div class="card-text">

                        Easyshit

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
