@import '../../../../styles/components/forms.css';
@import '../../../../variables.css';

.login-form-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .form {
    label {
      color: #95989A;
      font-size: 20px;
      margin: 0;
    }

    > label {
      margin: 0;
      height: 35px;
      display: table-cell;
      vertical-align: bottom;
    }

    > input {
      border: none;
      width: 100%;
      font-size: larger;
      padding-left: 5px;
      height: 40px;
    }

    input:focus, input:active {
      outline: none;
    }

    .submit-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;

      .submit-button {
        height: 40px;
        flex-grow: 1;
        margin-left: 20px;
        border: none;
        background-color: #00ADB5;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      .form-check {
        margin-bottom: 4px;
        margin-top: 4px;
      }
    }

    .input-login {
      z-index: 1;
    }

    .input-register {
      width: 49%;
    }

    #passwordWrapper {
      width: 100%;
      transition: width ease-in .5s;
    }

    #passwordWrapper.extended {
      width: 49%;
      transition: width ease-in .5s;
    }

    #cpasswordWrapper {
      width: 0;
      transition: width ease-in .5s;
      overflow: hidden;
    }

    #cpasswordWrapper.extended {
      width: 49%;
      transition: width ease-in .5s;
    }

    #nameWrapper {
      z-index: 0;
      position: relative;
      max-height: 0;
      overflow: hidden;
      transition: max-height ease-in .5s;
    }

    #nameWrapper.extended {
      max-height: 100px;
      transition: max-height ease-in .5s;
    }

    .btn-toggle {
      color: #95989A;
      background-color: transparent;
    }
    .btn-toggle:hover {
      cursor: pointer;
    }

  }
}
