@import '../../../variables';

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-color: var(--secondary-color);

  > svg {
    opacity: 0.03;
    position: absolute;
	  transition: all 10s;
  }
}
