body {
  background-color: #F4F8F9;
}

.admin-page {
  transition: all 0.5s;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }

  .admin-page {
    margin-left: 0 !important;
  }
}