<table id="tig-table">
  <thead>
  <tr>
    <td class="shrink">
      <label class="checkbox-container">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </td>
    <td class="shrink">Student</td>
    <td class="shrink">Grant date</td>
    <td class="expand">Reason</td>
    <td class="shrink">Assigned by</td>
    <td class="shrink">Status</td>
    <td class="expand work">Work</td>
    <td class="shrink end-date">On</td>
    <td class="shrink"></td>
  </tr>
  </thead>
  <tbody id="tiglist">
  <tr *ngFor="let tig of fakeArray; let i = index">
    <td class="shrink checkmark-tig">
      <div class="checkmark">
        <input id="checkbox-{{i}}" type="checkbox">
        <label for="checkbox-{{i}}"></label>
      </div>
    </td>
    <td class="shrink profile assigned">
      <div class="profile-wrapper">
        <div class="cropcircle" [style.backgroundImage]="'url('+tig.assigned.avatar+')'"></div>
        <div class="infos">
          <p class="name">{{tig.assigned.firstName}} {{tig.assigned.lastName}}</p>
          <p class="mail">{{tig.assigned.mail}}</p>
        </div>
      </div>
    </td>
    <td class="shrink date"><p>{{tig.grantDate}}</p></td>
    <td class="expand reason" >
      <a role="button" class="collapse" data-toggle="collapse" data-parent="#tiglist" href=".collapseTig-{{i}}" aria-expanded="false" attr.aria-controls="collapseTig-{{i}}">
        <p class="collapseTig-{{i}} collapsed">{{tig.reason}}</p>
      </a>  </td>
    <td class="shrink profile allocator">
      <div class="profile-wrapper">
        <div class="cropcircle" [style.backgroundImage]="'url('+tig.allocator.avatar+')'"></div>
        <div class="infos">
          <p class="name">{{tig.allocator.firstName}} {{tig.allocator.lastName}}</p>
          <p class="mail">{{tig.allocator.mail}}</p>
        </div>
      </div>
    </td>
    <td class="shrink status"><span class="label" [style.backgroundColor]="statusColors[tig.status]">{{tig.status}}</span></td>
    <td class="expand work">
      <a role="button" class="collapse" data-toggle="collapse" data-parent="#tiglist" href=".collapseTig-{{i}}" aria-expanded="false" attr.aria-controls="collapseTig-{{i}}">
        <p class="collapseTig-{{i}} collapsed">{{tig.work}}</p>
      </a>
    </td>
    <td class="shrink end-date"><p [innerHTML]="tig.endDate.start + ((tig.endDate.end === null) ? '' : '<br>' + tig.endDate.end)"></p></td>
    <td class="shrink more"><div [inlineSVG]="'/icons/more.svg'"></div></td>
  </tr>
  </tbody>
</table>
