<div class="tig-container">
<table id="tig-table">
  <thead>
  <tr>
    <td class="shrink">
      <label class="checkbox-container">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </td>
    <td class="shrink">Student</td>
    <td class="shrink">Grant date</td>
    <td class="expand">Reason</td>
    <td class="shrink">Assigned by</td>
    <td class="shrink">Status</td>
    <td class="expand work">Work</td>
    <td class="shrink end-date">On</td>
    <td class="shrink"></td>
  </tr>
  </thead>
  <tbody id="tiglist">
  <tr *ngFor="let tig of tigs; let i = index">
    <td class="shrink checkmark-tig">
      <div class="checkmark">
        <input id="checkbox-{{i}}" type="checkbox">
        <label for="checkbox-{{i}}"></label>
      </div>
    </td>
    <td class="shrink profile assigned">
      <div class="profile-wrapper">
        <div class="cropcircle" [style.backgroundImage]="'url('+tig.id+')'"></div>
        <div class="infos">
          <p class="name">{{tig.id}}</p>
          <p class="mail">{{tig.id}}</p>
        </div>
      </div>
    </td>
    <td class="shrink date"><p>{{getFormatedDate(tig.date)}}</p></td>
    <td class="expand reason" >
      <a role="button" class="collapse" data-toggle="collapse" data-parent="#tiglist" href=".collapseTig-{{i}}" aria-expanded="false" attr.aria-controls="collapseTig-{{i}}" (click)="toggleCollapse()">
        <p class="collapseTig-{{i}} collapsed">{{tig.reason}}</p>
      </a>  </td>
    <td class="shrink profile allocator">
      <div class="profile-wrapper">
        <div class="cropcircle" [style.backgroundImage]="'url('+tig.issuer+')'"></div>
        <div class="infos">
          <p class="name">{{tig.issuer}} {{tig.issuer}}</p>
          <p class="mail">{{tig.issuer}}</p>
        </div>
      </div>
    </td>
    <td class="shrink status"><span class="label" [style.backgroundColor]="statusColors[tig.state]">{{stateList[tig.state]}}</span></td>
    <td class="expand work">
      <a role="button" class="collapse" data-toggle="collapse" data-parent="#tiglist" href=".collapseTig-{{i}}" aria-expanded="false" attr.aria-controls="collapseTig-{{i}}" (click)="toggleCollapse()">
        <p class="collapseTig-{{i}} collapsed">{{tig.subject}}</p>
      </a>
    </td>
    <td class="shrink end-date"><p [innerHTML]="((tig.startDate === null) ? ' ' : getFormatedDate(tig.startDate)) + ((tig.endDate === null) ? '' : '<br>' + getFormatedDate(tig.endDate))"></p></td>
    <td class="shrink more"><div [inlineSVG]="'/icons/more.svg'"></div></td>
  </tr>
  </tbody>
</table>
</div>