@import '../../../styles/components/forms';
@import '../../../variables';

.login-form-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .form {
    label {
      color: #95989A;
      font-size: 20px;
      margin: 0;
    }

    > label {
      margin: 0;
      height: 35px;
      display: table-cell;
      vertical-align: bottom;
    }

    > input {
      border: none;
      width: 100%;
      font-size: larger;
      padding-left: 5px;
      height: 40px;
    }

    input:focus, input:active {
      outline: none;
    }

    .submit-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;

      .submit-button {
        height: 40px;
        flex-grow: 1;
        margin-left: 20px;
        border: none;
        background-color: #00ADB5;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
