<div class="quick-access-bar wrapper">
  <app-dynamic-background height="60px"></app-dynamic-background>
  <div class="pedago-title" [inlineSVG]="'/pedago.svg'"></div>
  <div class="quick-access-wrappers">
    <div class="notification" [inlineSVG]="'/icons/notification.svg'"></div>
    <div class="profile">
    <img class="image" src="/assets/avatar.jpg" alt="profil-image">
      <p>Welcome !<br/><span class="second-name">{{user.firstName}}</span> <span class="first-name">{{user.lastName}}</span></p>
    </div>
    <div class="logout" [inlineSVG]="'/icons/logout.svg'" (click)="onLogout()"></div>
  </div>
</div>
