<div class="quick-access-bar wrapper">
  <app-dynamic-background height="60px"></app-dynamic-background>
  <div class="pedago-title" [inlineSVG]="'/pedago-light.svg'"></div>
  <div class="quick-access-wrappers">
    <div class="notification" [inlineSVG]="'/icons/notification.svg'"></div>
    <div class="profile">
    <img class="image" src="/assets/pj-test.png" alt="profil-image">
      <p>Welcome !<br/><span class="first-name">Pierre Jean</span><span class="second-name"> Martin</span></p>
    </div>
    <div class="options" [inlineSVG]="'/icons/gear.svg'"></div>
    <input type="button" (click)="onLogout()">
  </div>
</div>
