<div class="container">
    <div class="row">

        <div class="col-sm d-flex justify-content-center">
            <div class="card d-flex align-items-center justify-content-center" style="width: 18rem;">

                <br>
                <h3 class="card-title">Easyshit Mode</h3>
                <img class="card-img-top" src={{randomStudentOnePhotoUrl}} alt="photo">
                <div class="card-body">
                    <div class="card-text">

                        <div class="card-text">

                            <div class="btn-group-vertical">

                                <button type="button" class="btn btn-outline-info btn-sm" *ngFor="let student of randomStudents">
                                    {{student[0]}}
                                </button>

                                <br>

                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-info" *ngFor="let promotion of promotions">
                                        {{promotion}}
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
