<div class="container">
    <div class="row">


        <div class="col-sm">

            {{score}} / {{passed}} / {{todo}}



        </div>


        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <img class="card-img-top" src={{randomStudentPhotoUrl}} alt="photo">
                <div class="card-body">
                    <h5 class="card-title">Qui est cet étudiant ?</h5>
                    <div class="card-text">

                        <div class="btn-group-vertical">

                            <button type="button" class="btn btn-sm" (click)="onSubmit($event)" *ngFor="let student of randomStudents">
                                {{student[0]}}
                            </button>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>


